<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/home" class="navbar-brand text-info">Smart-Library</a>
    </div>
    <ul class="nav navbar-nav new-nav">
      <form class="form-group">
        <input type="text"><button type="button" class="btn btn-info" placeholder="enter book name">
            <span class="glyphicon glyphicon-search"></span> Search for Book
          </button>
      </form><br>
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/educational">Education</a>
      </li>
      <li>
        <a routerLink="/motivational">Motivation</a>
      </li>
      <li>
        <a routerLink="/politics">Politics</a>
      </li>
      <li>
        <a routerLink="/technology">Technology</a>
      </li>
      <li>
        <a routerLink="/others">Others</a>
      </li>
      <li>
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
              <span class="glyphicon glyphicon-search"></span>
            <a class="reg">Register a Book</a></button>
        </li>
    </ul>
<!-- 
    <ul class="nav navbar-nav navbar-right">
      <li data-toggle="modal" data-target="#myModal2">
        <a href="#">
          <span class="glyphicon glyphicon-user"></span> Sign Up</a>
      </li>
      <li data-toggle="modal" data-target="#myModal">
        <a href="#">
          <span class="glyphicon glyphicon-log-in"></span> Login</a>
      </li>
    </ul> -->
  </div>
</nav>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Staff ID</label>
            <input type="text" [(ngModel)]="staffId"  class="form-control" placeholder="enter StaffID">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" [(ngModel)]="pwd" class="form-control" placeholder="enter Password">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me</label>
            </div>
            <div class="text-danger">
                <strong> {{error}} </strong>
                  </div>  
  <br>
      <button type="button" (click)="validateform()" class="btn btn-success" data-dismiss="modal">Submit</button>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>
  