<app-header> </app-header>
<!-- START AMAZING FEATURES -->
<section class="amazing_feature">
  <div class="container">
    <div class="row">
      <div class="section-title text-center wow zoomIn">
        <h2>More Books ...</h2>
        <div class="line"></div>
        <h3>Other books that would interest you!.</h3>	
        
      </div>						
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single_feature">
          <img src="assets\thumb.jpg">
          <h3> Secretes</h3>
          <span></span>
          <p>Our system has undergone different security test to ensure that data are secured.</p>
          <button class="btn btn-success"> GET BOOK </button>
          
        </div>
      </div><!-- END COL-->								
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single_feature">
          <img src="assets\thumb.jpg">          
          <h3> Take Charge</h3>
          <span></span>
          <p>The system is integrated to payment gateways using a standard API interface. </p>	
          <button class="btn btn-success"> GET BOOK </button>
          
        </div>
      </div><!-- END COL-->					
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single_feature">
          <img src="assets\thumb.jpg">          
          <h3>Rich Dad Poor Dad</h3>
          <span></span>
          <p>Verification and identification of employees fingerprint and photo capture in real-time.</p>
          <button class="btn btn-success"> GET BOOK </button>
          
        </div>
      </div><!-- END COL-->							
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single_feature">
          <img src="assets\thumb.jpg">          
          <h3>Create your own feature</h3>
          <span></span>
          <p>It validates both BVN and NUBAN of the employee at the time of registration </p>
          <button class="btn btn-success"> GET BOOK </button>
          
        </div>
      </div><!-- END COL-->					
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single_feature">
          <img src="assets\thumb.jpg">
          
          <h3> 7 keys to success</h3>
          <span></span>
          <p>Ability to generate and transmit pay slip electronically through self service interface</p>
          <button class="btn btn-success"> GET BOOK </button>
        </div>
      </div><!-- END COL-->					
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single_feature">
          <img src="assets\thumb.jpg">          
          <h3> The Mind</h3>
          <span></span>
          
  <p>A team of designers, developers and ICT gurus as well as awesome customer service you can rely on.</p>
  <button class="btn btn-success"> GET BOOK </button>
  
        </div>
      </div><!-- END COL-->						
    </div><!--- END ROW -->			
  </div><!--- END CONTAINER -->		
</section>
<!-- END AMAZING FEATURES -->

<app-footer> </app-footer>

