.full-back{
    background-image: url("C:\Users\Obekpa\Desktop\book.jpg");
    background-size: cover;
    min-height: 750px;
}
p{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #171515;
    background-color: #BC79A7;
    
}
.news{
    text-decoration-line: none;
    color: #171515;
}