<app-header></app-header>
		<!-- START AMAZING FEATURES -->
		<section class="amazing_feature">
        <div class="container">
          <div class="row">
            <div class="section-title text-center wow zoomIn">
              <h2>Amazing Features</h2>
              <div class="line"></div>
              <p>We've got a lot of amaing and cool features.</p>						
            </div>						
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="single_feature">
                <i class="fa fa-lock"></i>
                <h3>System Security</h3>
                <span></span>
                <p>Our system has undergone different security test to ensure that data are secured.</p>	
              </div>
            </div><!-- END COL-->								
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="single_feature">
                <i class="fa fa-credit-card"></i>
                <h3>Payment Gateway</h3>
                <span></span>
                <p>The system is integrated to payment gateways using a standard API interface. </p>	
              </div>
            </div><!-- END COL-->					
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="single_feature">
                <i class="fa fa-paper-plane-o"></i>
                <h3>Biometric</h3>
                <span></span>
                <p>Verification and identification of employees fingerprint and photo capture in real-time.</p>
              </div>
            </div><!-- END COL-->							
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="single_feature">
                <i class="fa fa-university"></i>
                <h3>bvn/nuban compliant</h3>
                <span></span>
                <p>It validates both BVN and NUBAN of the employee at the time of registration </p>
              </div>
            </div><!-- END COL-->					
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="single_feature">
                <i class="fa fa-money"></i>
                <h3>Electronic payslip</h3>
                <span></span>
                <p>Ability to generate and transmit pay slip electronically through self service interface</p>
              </div>
            </div><!-- END COL-->					
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="single_feature">
                <i class="fa fa-phone"></i>
                <h3>24/7 support</h3>
                <span></span>
                <p>A team of designers, developers and ICT gurus as well as awesome customer service you can rely on.</p>
              </div>
            </div><!-- END COL-->						
          </div><!--- END ROW -->			
        </div><!--- END CONTAINER -->		
      </section>
      <!-- END AMAZING FEATURES -->


