<app-header></app-header>
<form action="http://localhost:8000/submit" method="post">
<div class="col-sm-4"></div>
<div class="form-group container col-sm-4">
<h1 class="text-center">  REGISTER A BOOK </h1>
  <div class="form-group">
    <label>Book Title</label>
    <input type="text"  [(ngModel)]="book_reg.name" class="form-control" name="name">
  </div>
  <div class="form-group">
    <label>Author</label>
    <input type="text" [(ngModel)]="book_reg.author" class="form-control" name="author">
  </div>
  <div class="form-group">
    <label>ISBN</label>
    <input type="text" [(ngModel)]="book_reg.ISBN"  class="form-control" name="isbn">
  </div>
 
  <div class="form-group">
      <label>Description</label>
      <textarea [(ngModel)]="book_reg.description"  class="form-control" name="description"></textarea>
  </div>


    <div class="form-group">
      <label>Category</label>
      <select class="form-control" [(ngModel)]="book_reg.path" name="path">
        <option disabled>Select a path</option>
        <option>Educational</option>
        <option>Motivational</option>
        <option>Technology</option>
        <option>Politics</option>
        <option>Others</option>
      </select>
      <div class="text-danger">
          <strong> {{error}} </strong>
            </div>
    <br>
    <button type="button" class="btn btn-success" (click)="register()">Submit</button>
    </div>
    <div class="col-sm-4"></div>

  </div>
</form>

  <app-footer> </app-footer>
  
